.author_attribution {
    font-size: small;
    font-weight: bold;
}

.fa {
    margin-left: 15px;
    margin-right: 15px;
    width: 32px;
}

.main-author_attribution .author_attribution {
    font-size: 14px;
    font-weight: bold;
}

.main-output .output {
    margin-bottom: 5px;
    font-size: 48px!important;
}

.output {
    margin-bottom: 5px;
    font-size: 16px;
}

.quote-body {
    background-image: url("background.png")!important;
    background-color: #F8F8F5;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
}

.quote-link {
    font-weight: bold;
}

.side-topic .topic_button {
    display: block;
    width: 100%;
}

.share-modal-button {
    margin-left: 15px;
    margin-right: 15px;
    width: 32px;
    height: 32px;
}