.author_attribution {
    font-size: small;
    font-weight: bold;
}

.generic_author {
    margin-top:5px;
}

.output {
    margin-bottom: 5px;
    font-size: large;
}

.quote-link .output {
    color: black;
}